<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error occured <br>We are already working on fixing it!</h1>

<%- include('includes/end.ejs') %>